<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProductionControl.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProductionControl.Settings>
            <setting name="RAY_API" serializeAs="String">
                <value>http://192.168.168.104:18012</value>
            </setting>
            <setting name="ConVKT" serializeAs="String">
                <value>Data Source = 192.168.168.104; Initial Catalog = VKT; Persist Security Info = True; User ID = Apps; Password = 793148625; Application Name = ProductionControl; Connect Timeout=60</value>
            </setting>
            <setting name="VKT_API" serializeAs="String">
                <value>http://192.168.168.104</value>
            </setting>
            <setting name="ConTest" serializeAs="String">
                <value>Data Source = SERVER-TO1; Initial Catalog = Test; Persist Security Info = True; User ID = Apps; Password = 793148625; 	Application Name = ProductionControl; TrustServerCertificate=True</value>
            </setting>
            <setting name="ConBest" serializeAs="String">
                <value>Data source = SERVER-BD2; User Id = to; Password = toto; Initial Catalog = rvp002; Application Name = ProductionControl; Connect Timeout=60</value>
            </setting>
            <setting name="ConTimeSheet" serializeAs="String">
                <value>Data Source = SERVER-TO1; Initial Catalog = TimeSheet; Persist Security Info = True; User ID = Apps; Password = 793148625; 	Application Name = ProductionControl; TrustServerCertificate=True; Connect Timeout=60</value>
            </setting>
            <setting name="TestTimeSheet" serializeAs="String">
                <value>Data Source = SERVER-TO1; Initial Catalog = Test_TimeSheet; Persist Security Info = True; User ID = Apps; Password = 793148625; 	Application Name = ProductionControl; TrustServerCertificate=True</value>
            </setting>
            <setting name="Prodaction_API" serializeAs="String">
                <value>http://server-to1:31514</value>
            </setting>
            <setting name="Test_Prodaction_API" serializeAs="String">
                <value>http://localhost:5044</value>
            </setting>
        </ProductionControl.Settings>
    </userSettings>
</configuration>