<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProductionControl.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProductionControl.Settings>
            <setting name="ConTimeSheet" serializeAs="String">
                <value>Server=RYZEN; Initial Catalog = TimeSheet; Database=TimeSheet; Trusted_Connection=True;  TrustServerCertificate=True; Encrypt=False; Application Name = ProductionControl; </value>
            </setting>
            <setting name="ConTimeSheetN" serializeAs="String">
                <value>Server=ACER\SQLEXPRESS; Initial Catalog = TimeSheet; Database=TimeSheet; Trusted_Connection=True;  TrustServerCertificate=True; Encrypt=False; Application Name = ProductionControl; </value>
            </setting>
        </ProductionControl.Settings>
    </userSettings>
</configuration>